<!DOCTYPE html>
<html lang="en"  ng-app="projetoAcademico">
    <title> </title>
<head>
<style>
    .jumbotron{
        width: 1100px;
        height: 30px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f0ad4e;
    }


</style>
</head>
<body>
<nav class="jumbotron">
    <div class="container">

        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">

            <li class=""><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastro
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!cadastroDeCurso">Curso</a></li>
                    <li><a href="#!listarDisciplina">Disciplina</a></li>
                    <li><a href="#!listagemAluno">Alunos</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>

</body>
</html>